<html>
<head>
    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>
</head>
<body class="login">
<div class="total">
    <div class="loginCard">
        <div class="loginHead">
            <h2>Login</h2>
        </div>
        <div class="loginBody">
            <form id="loginForm" autocomplete="off">
                <label for="username">username:</label><br>
                <input class="formInput" id="username" type="text" name="fname"><br>
                <label for="password">password:</label><br>
                <input class="formInput" id="password" type="text" name="lname"><br><br>
                <button class="button" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
</body>
</html>