<!DOCTYPE html>
<html lang="en">
<head>

    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body class="passwordReset">
<div class="total">
    <div class="loginCard">
        <div class="loginHead">
            <h2>Reset password</h2>
        </div>
        <div class="loginBody">
            <form id="passwordReset" autocomplete="off">
                <label for="email">Email:</label><br>
                <input class="formInput" id="email" type="text" name="fname"><br>
                <button class="button" type="submit">Send reset link.</button><br>
                <a href="index.html">Login</a>
            </form>
        </div>
    </div>
</div>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>
</html>