<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <script th:src="@{/js/main.js}"></script>
    <link th:href="@{/css/style.css}" rel="stylesheet" type="text/css"/>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
</head>
<body>
    <th:block th:switch="${userType}">
        <th:block th:case="ROLE_ADMIN">
            <div th:replace="fragments/admin.html"></div>
        </th:block>

        <th:block th:case="ROLE_STUDENT">
            <div th:replace="fragments/student.html"></div>
        </th:block>

        <th:block th:case="ROLE_TEACHER">
            <div th:replace="fragments/teacher.html"></div>
        </th:block>
    </th:block>
</body>
</html>